<a href="https://colab.research.google.com/github/LaibaNaheed/-Responsive-Flexbox-Layout-with-Shrink-Wrap-Alignment-in-CSS-/blob/main/PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*LAB MANUALS*
* LAIBA NAHEED
* FA23-BSCS-346

LAB TASK 4:

PART 1 – WHILE LOOP PROGRAMS

In [ ]:
print("=== PART 1: WHILE LOOP ===")

# 1. Print HelloWorld five times
i = 1
while i <= 5:
    print("HelloWorld")
    i += 1

# 2. Print 1–10
i = 1
while i <= 10:
    print(i)
    i += 1

# 3. Print 10–0
i = 10
while i >= 0:
    print(i)
    i -= 1

# 4. Print 1–15 positive numbers
i = 1
while i <= 15:
    print(i)
    i += 1

# 5. Print 1–15 negative numbers
i = -1
while i >= -15:
    print(i)
    i -= 1

# 6. Factorial of 9
num = 9
fact = 1
i = 1
while i <= num:
    fact *= i
    i += 1
print("Factorial of 9 =", fact)

# 7. Palindrome check
num = int(input("Enter a number: "))
temp = num
rev = 0
while num > 0:
    rev = rev*10 + num%10
    num //= 10
print("Palindrome?" , rev == temp)

# 8. Multiplication table of 12
i = 1
while i <= 10:
    print("12 x", i, "=", 12*i)
    i += 1

# 9. Sum of first 10 natural numbers
i = 1
s = 0
while i <= 10:
    s += i
    i += 1
print("Sum =", s)

# 10. Right-angled star triangle
i = 1
while i <= 5:
    print("*" * i)
    i += 1

=== PART 1: WHILE LOOP ===
HelloWorld
HelloWorld
HelloWorld
HelloWorld
HelloWorld
1
2
3
4
5
6
7
8
9
10
10
9
8
7
6
5
4
3
2
1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
-1
-2
-3
-4
-5
-6
-7
-8
-9
-10
-11
-12
-13
-14
-15
Factorial of 9 = 362880

PART 2 – FOR LOOP PROGRAMS

In [ ]:
print("=== PART 2: FOR LOOP ===")

# 1. Print HelloWorld five times
for i in range(5):
    print("HelloWorld")

# 2. 1–10
for i in range(1, 11):
    print(i)

# 3. 10–0
for i in range(10, -1, -1):
    print(i)

# 4. 1–15 positive
for i in range(1, 16):
    print(i)

# 5. 1–15 negative
for i in range(-1, -16, -1):
    print(i)

# 6. Even/Odd numbers 1–100
for i in range(1, 101):
    if i % 2 == 0:
        print(i, "Even")
    else:
        print(i, "Odd")

# 7. Alphabets
import string
print(string.ascii_uppercase)
print(string.ascii_lowercase)

# 8. Factorial of 9
fact = 1
for i in range(1, 10):
    fact *= i
print("Factorial =", fact)

# 9. Palindrome
num = input("Enter number: ")
print("Palindrome?" , num == num[::-1])

# 10. Star triangle
for i in range(1, 6):
    print("*" * i)

# 11. Count vowels and consonants
text = input("Enter text: ")
vowels = "aeiouAEIOU"
v = c = 0
for ch in text:
    if ch.isalpha():
        if ch in vowels:
            v += 1
        else:
            c += 1
print("Vowels:", v, "Consonants:", c)

# 12. Table of 12
for i in range(1, 11):
    print("12 x", i, "=", 12*i)

# 13. Squares & Cubes
for i in range(1, 11):
    print(i, "Square:", i*i, "Cube:", i*i*i)

PART 3 – NESTED LOOPS

In [ ]:
print("=== PART 3: Nested Loops ===")

# 1. Even list 1–10
even_nums = [i for i in range(1, 11) if i % 2 == 0]
print("Even numbers:", even_nums)

# 2. Pyramid
for i in range(1, 6):
    print(" "*(5-i) + "*"*(2*i-1))

# 3. First 20 primes
primes = []
num = 2
while len(primes) < 20:
    for i in range(2, num):
        if num % i == 0:
            break
    else:
        primes.append(num)
    num += 1
print("First 20 primes:", primes)

Enter temperature in °C: 0.55
The temperature is above freezing

PART 4 – BREAK / CONTINUE / PASS

In [ ]:
print("=== PART 4: Loop Control ===")

# 1. First even number using break
nums = [1, 3, 5, 6, 7]
for n in nums:
    if n % 2 == 0:
        print("First even =", n)
        break

# 2. Print only odd numbers except when number = 7
nums = [1, 2, 3, 7, 9, 11]
for n in nums:
    if n == 7:
        continue
    if n % 2 != 0:
        print(n)

# 3. 1–20 even numbers skip if 5
for i in range(1, 21):
    if i == 5:
        continue
    if i % 2 == 0:
        print(i)

# 4. Odd numbers 1–20 using break
lst = []
for i in range(1, 21):
    if i % 2 != 0:
        lst.append(i)
print(lst)

Enter student marks: 78
Student grade: B

PART 5 – FUNCTIONS

In [ ]:
print("=== PART 5: Functions ===")

# 1. Welcome message
def welcome():
    print("Welcome!")

welcome()

# 2. Add two numbers
def add(a, b):
    return a + b

print(add(5, 7))

# 3. Even or odd
def check(n):
    return "Even" if n%2==0 else "Odd"

print(check(7))

# 4. Factorial (recursive)
def fact(n):
    if n == 1:
        return 1
    return n * fact(n-1)

print(fact(5))

# 5. Area of circle
def area(r=5):
    return 3.14*r*r

print(area())

# 6. Prime check
def isPrime(n):
    if n<2: return False
    for i in range(2,n):
        if n%i==0:
            return False
    return True

print(isPrime(11))

# 7. Max of 3
def max3(a,b,c):
    return max(a,b,c)

print(max3(3,9,2))

# 8. Simple interest
def SI(p,r,t):
    return (p*r*t)/100

print(SI(1000,5,2))

# 9. Fibonacci 10 terms
def fib(n):
    a,b = 0,1
    for _ in range(n):
        print(a,end=" ")
        a,b = b,a+b
print(); fib(10)

# 10. Reverse a string
def rev(s):
    return s[::-1]

print(rev("Python"))

# 11. Palindrome check
def pal(s):
    return s == s[::-1]

print(pal("level"))

# 12. Count vowels
def count_vowels(s):
    vowels = "aeiouAEIOU"
    return sum(ch in vowels for ch in s)

print(count_vowels("HELLO"))

# 13. Length of list without len()
def mylen(lst):
    c = 0
    for _ in lst:
        c += 1
    return c

print(mylen([1,2,3]))

# 14. Sum of digits
def sum_digits(n):
    s = 0
    while n>0:
        s += n%10
        n//=10
    return s

print(sum_digits(12345))

# 15. Sort list
def sort_list(lst):
    return sorted(lst)

print(sort_list([4,2,7,1]))

# 16. Print string multiple times
def repeat(s,n):
    for _ in range(n):
        print(s)

repeat("AI", 3)

Enter a year: 1900
1900 is NOT a Leap Year

PART 7 – STRING HANDLING

In [ ]:
print("=== PART 7: Strings ===")

s = "I am Python Programmer"

print(len(s))
copy = s[:]
print(copy)
print(s + "!!!")
print("Compare:", s == copy)
print(s.upper(), s.lower())
print("PROGRMMER"[::-1])
print("Word count:", len(s.split()))
print("Duplicates in ALIZA:", {ch for ch in "ALIZA" if "ALIZA".count(ch) > 1})

Enter an integer: 23
23 is Positive

PART 8 – Number Pattern (AI / Lab / AILab)

In [ ]:
for i in range(1,101):
    if i%15==0:
        print("AILab")
    elif i%3==0:
        print("AI")
    elif i%5==0:
        print("Lab")
    else:
        print(i)

Enter a number (1-7): 4
Thursday

PART 9 – Text Analysis

In [ ]:
def analyze_text(s):
    upper = sum(ch.isupper() for ch in s)
    lower = sum(ch.islower() for ch in s)
    digit = sum(ch.isdigit() for ch in s)
    return {"uppercase": upper, "lowercase": lower, "digits": digit}

print(analyze_text("AI Lab 123"))

Enter a number (1-12): 11
November

PART 10 – Reverse Words in a Sentence

In [ ]:
sentence = "Artificial Intelligence Lab"
print(" ".join(sentence.split()[::-1]))

Choose operation:
1. Addition (+)
2. Subtraction (-)
3. Multiplication (*)
4. Division (/)
Enter operation (+, -, *, /): 2
Invalid operation

FILE HANDLING SECTION

Q1 – Write & Read Cities

In [ ]:
cities = []
for i in range(5):
    city = input("Enter city: ")
    cities.append(city + "\n")

# Write to file
with open("mycities.txt", "w") as f:
    f.writelines(cities)

# Read and display in reverse
with open("mycities.txt", "r") as f:
    data = f.readlines()

print("Cities in reverse:")
for c in reversed(data):
    print(c.strip())

1
2
3
4
5
6
7
8
9
10

Q2 – Student Marks Dictionary

In [ ]:
# Write data
with open("marks.txt", "w") as f:
    for i in range(3):
        name = input("Enter name: ")
        marks = input("Enter marks: ")
        f.write(f"{name}:{marks}\n")

# Read back into dictionary
students = {}

with open("marks.txt") as f:
    for line in f:
        name, marks = line.split(":")
        students[name] = int(marks)

# Highest marks
topper = max(students, key=students.get)
print("Topper:", topper, students[topper])

# Average
avg = sum(students.values())/len(students)
print("Average:", avg)

Enter a number (N): 456
Sum of first 456 natural numbers is: 104196

Q3 – Append Two Cities

In [ ]:
with open("Cities.txt", "a") as f:
    for i in range(2):
        c = input("Enter city to append: ")
        f.write(c + "\n")

with open("Cities.txt") as f:
    print(f.read())

Enter a number: 56
Reversed number: 65

Q4 – Count Lines, Words, Characters

In [ ]:
with open("sample.txt") as f:
    lines = f.readlines()

line_count = len(lines)
word_count = sum(len(line.split()) for line in lines)
char_count = sum(len(line) for line in lines)

print("Lines:", line_count)
print("Words:", word_count)
print("Characters:", char_count)

Enter a number: 4

Multiplication Table of 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Q5 – Dictionary File Search

In [ ]:
# Read dictionary
data = {}
with open("Scores.txt") as f:
    for line in f:
        name, score = line.strip().split(":")
        data[name.lower()] = score

# Search
name = input("Enter student name: ").lower()

if name in data:
    print("Score:", data[name])
else:
    print("Record not found")

Enter a number: 2
Factorial of 2 is: 2

THANK YOU!